<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="Avalonia" value="https://nuget-feed-all.avaloniaui.net/v3/index.json" />
		<add key="AvaloniaNightlyBuilds" value="https://www.myget.org/F/avalonia-ci/api/v2" />
    </packageSources>
</configuration>