body {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  overflow-y: hidden;
}

.title {
  font-size: large;
  margin-bottom: 20px;
}

.wrapper {
  margin: 10px;
}

button {
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}